<main class="min-h-screen w-full bg-blue-50 p-4 md:p-8">
  <div class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-6xl grid grid-cols-1 lg:grid-cols-2 gap-6">
      <!-- LEFT CARD -->
      <div
        class="bg-white rounded-xl shadow-[0_4px_12px_rgba(0,0,0,0.08)] flex justify-center items-center p-6 md:p-10"
      >
        <div class="w-full">
          <!-- Heading -->
          <div class="text-center mb-6">
            <p
              class="text-2xl md:text-4xl text-black font-bold mb-4 leading-tight"
            >
              Generate and Publish
              <br />
              <span class="text-blue-800">Dynamic</span>
              QR Codes.
            </p>

            <p class="text-xs md:text-sm text-gray-400 leading-relaxed">
              Instantly create QR codes for links, text, or any content.
              Download and share them easily.
            </p>
          </div>

          <!-- Form -->
          <form (ngSubmit)="generateQr()">
            <textarea
              class="border border-gray-300 rounded p-3 w-full text-sm md:text-base text-gray-600 focus:ring-0 focus:outline-none focus:border-blue-800"
              rows="6"
              placeholder="Enter text or URL to generate your QR code..."
              [(ngModel)]="qrText"
              name="qrText"
            ></textarea>
            @if (showError) {
              <small class="text-red-600 text-sm">
                Please enter text before generating a QR code.
              </small>
            }
            <button
              type="submit"
              class="bg-blue-800 w-full p-3 text-sm md:text-base text-white font-semibold rounded-lg hover:bg-blue-900 mt-3 transition-all hover:scale-[1.02]"
            >
              Generate QR Code
            </button>
          </form>
        </div>
      </div>

      <!-- RIGHT CARD -->
      <div
        class="bg-white rounded-xl shadow-[0_4px_12px_rgba(0,0,0,0.08)] flex justify-center items-center p-6 md:p-10"
      >
        <div class="text-center">
          <!-- If QR Exists -->
          <div *ngIf="generatedText; else emptyState" class="qr-wrapper" #qrWrapper>
            <qrcode
              [qrdata]="generatedText"
              [width]="300"
              [errorCorrectionLevel]="'M'"
              [margin]="2"
              [scale]="2"
              [colorDark]="'#000000'"
              [colorLight]="'#ffffff'"
            ></qrcode>

            <button
              (click)="downloadQR()"
              class="flex items-center justify-center gap-2 w-full h-10 border-2 border-blue-800 text-blue-800 hover:scale-105 hover:bg-blue-50 transition-all ease-in-out rounded-lg mt-4 cursor-pointer"
            >
              <svg
                class="w-4 h-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640"
              >
                <path
                  fill="currentColor"
                  d="M352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 306.7L246.6 265.3C234.1 252.8 213.8 252.8 201.3 265.3C188.8 277.8 188.8 298.1 201.3 310.6L297.3 406.6C309.8 419.1 330.1 419.1 342.6 406.6L438.6 310.6C451.1 298.1 451.1 277.8 438.6 265.3C426.1 252.8 405.8 252.8 393.3 265.3L352 306.7L352 96zM160 384C124.7 384 96 412.7 96 448L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 448C544 412.7 515.3 384 480 384L433.1 384L376.5 440.6C345.3 471.8 294.6 471.8 263.4 440.6L206.9 384L160 384zM464 440C477.3 440 488 450.7 488 464C488 477.3 477.3 488 464 488C450.7 488 440 477.3 440 464C440 450.7 450.7 440 464 440z"
                />
              </svg>

              <span class="text-sm font-medium"> Download QR Code (PNG)</span>
            </button>
          </div>

          <!-- Empty State -->
          <ng-template #emptyState>
            <div class="flex flex-col items-center justify-center">
              <div class="w-20 h-20 md:w-28 md:h-28 text-blue-300">
                <svg
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  class="w-full h-full"
                >
                  <path
                    d="M4 4h4v4H4V4zm2 2v0h0v0zm6-2h8v8h-8V4zm2 2v4h4V6h-4zM4 12h8v8H4v-8zm2 2v4h4v-4H6zm10 0h2v2h-2v-2zm0 4h2v2h-2v-2z"
                  />
                </svg>
              </div>
              <p class="text-gray-400 mt-4 text-sm">
                Your generated QR code will appear here
              </p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</main>
